<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Caribbean</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Vietnamese</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Korean</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>German</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>Indian</string>
	</dict>
</array>
</plist>
